<div class="flex h-screen">
    <!-- Sidebar -->
    <app-admin-sidebar></app-admin-sidebar>

    <section class="flex-1 h-screen overflow-y-auto bg-slate-900">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="flex space-x-4 text-2xl font-semibold capitalize lg:text-3xl text-white cursor-default">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
                <span>Offer Management</span>
            </h1>
        </div>


        <div class="container px-6 py-10 mx-auto">

            <div class="flex justify-end items-center mt-4 gap-x-3">
                <!-- Select Dropdown for Filtering Users by Status -->
                <select [(ngModel)]="selectedStatus" (change)="filterOffer()"
                    class="px-4 py-2 text-sm border rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                    <option value="all">All Statuses</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>

                <!-- Search Input -->
                <div class="relative flex items-center">
                    <span class="absolute left-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-gray-400 dark:text-gray-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </span>
                    <input type="text" [(ngModel)]="searchTerm" (input)="filterOffer()" placeholder="Search offers"
                        class="block w-full md:w-80 py-1.5 pr-5 pl-10 text-gray-700 border border-gray-200 rounded-lg placeholder-gray-400/70 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                </div>

                <div class="relative flex items-center">
                    <button (click)="toggelForm()"
                        class="mt-4 sm:mt-10 mb-4 sm:mb-8 px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                        {{ isVisibleForm ? 'Close' : 'Add Offer' }}
                    </button>
                </div>
            </div>

            <ng-container *ngIf="isVisibleForm">
                <form class="mt-4 w-full max-w-3xl mx-auto" (ngSubmit)="onSubmit()" [formGroup]="offerForm">
                    <div class="flex flex-wrap w-full">
                        <div class="w-full md:w-1/2 px-4">
                            <!-- Name -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Name</label>
                                <input formControlName="title" type="text" name="title" placeholder="Enter offer name"
                                    class="block w-full px-4 py-3 mt-1 text-sm text-gray-700 border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300">
                                <p *ngIf="offerForm.get('title')?.hasError('required') && offerForm.get('title')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                            <!-- Phone Number -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Discount</label>
                                <input formControlName="discount" type="text" placeholder="Discount of offer"
                                    class="block w-full px-4 py-3 mt-1 text-sm text-gray-700 border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300">
                                <p *ngIf="offerForm.get('discount')?.hasError('required') && offerForm.get('discount')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                        </div>

                        <div class="w-full md:w-1/2 px-4">
                            <!-- Qualification -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Description</label>
                                <input formControlName="description" type="text" placeholder="Enter description"
                                    class="block w-full px-4 py-3 mt-1 text-sm text-gray-700 border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300">
                                <p *ngIf="offerForm.get('description')?.hasError('required') && offerForm.get('description')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                            <!-- Last Working Place -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Status</label>
                                <select formControlName="status"
                                    class="w-full px-3 py-2 bg-gray-900 text-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    <option value="">Select Status</option>
                                    <option value="active">Active</option>
                                    <option value="inactive">InActive</option>
                                </select>
                                <p *ngIf="offerForm.get('status')?.hasError('required') && offerForm.get('status')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                        </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="mt-6 flex justify-end gap-4 mx-4">
                        <button type="submit" [disabled]="!offerForm.valid"
                            class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 disabled:opacity-50 disabled:cursor-not-allowed">
                            Submit
                        </button>
                    </div>
                </form>
            </ng-container>

            <div class="flex flex-col mt-6">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div class="overflow-hidden border border-gray-700 md:rounded-lg">

                            <table class="min-w-full divide-y divide-gray-700">
                                <thead class="bg-gray-800">
                                    <tr>
                                        <th scope="col"
                                            class="py-3.5 px-4 text-md font-normal text-left rtl:text-right text-gray-400">
                                            <button class="flex items-center gap-x-3 focus:outline-none">
                                                <span>Name</span>
                                            </button>
                                        </th>

                                        <th scope="col"
                                            class="px-12 py-3.5 text-md font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            Description
                                        </th>

                                        <th scope="col"
                                            class="px-12 py-3.5 text-md font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            Discount
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-3.5 text-md font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            Status
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-3.5 text-md font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                    <tr *ngFor="let offer of filteredOffers">
                                        <td class="px-4 py-4 text-md font-normal whitespace-nowrap">
                                            <div>
                                                <h2 class="font-medium text-gray-800 dark:text-white ">
                                                    {{offer.title}}
                                                </h2>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 text-md font-normal whitespace-nowrap">
                                            <div>
                                                <h2 class="font-medium text-gray-800 dark:text-white ">
                                                    {{offer.description}}
                                                </h2>
                                            </div>
                                        </td>
                                        <td class="px-12 py-4 text-md font-normal whitespace-nowrap">
                                            <div>
                                                <h2 class="font-medium text-gray-800 dark:text-white ">
                                                    {{offer.discount}} %
                                                </h2>
                                            </div>
                                        </td>
                                        <td class="px-4 py-4 text-md whitespace-nowrap">
                                            <div *ngIf="offer.isActive; else falseStatus"
                                                class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 bg-emerald-100/60 dark:bg-gray-800">
                                                {{ 'Active' }}
                                            </div>
                                            <ng-template #falseStatus>
                                                <div
                                                    class="inline px-3 py-1 text-sm font-normal rounded-full text-red-500 bg-red-100/60 dark:bg-gray-800">
                                                    {{ 'Inactive' }}
                                                </div>
                                            </ng-template>
                                        </td>

                                        <td class="px-4 py-4 text-sm whitespace-nowrap">
                                            <div class="flex items-center gap-x-6">
                                                <button *ngIf="offer.isActive; else inactiveTemplate"
                                                    (click)="updateStatus(offer._id! , false)"
                                                    class="px-2 py-1 text-sm bg-red-500 text-white rounded-md hover:bg-red-600">
                                                    Suspend
                                                </button>

                                                <ng-template #inactiveTemplate>
                                                    <button (click)="updateStatus(offer._id!, true)"
                                                        class="px-2 py-1 text-sm  bg-green-500 text-white rounded-md hover:bg-green-600">
                                                        Activate
                                                    </button>
                                                </ng-template>

                                                <button
                                                    class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                </button>

                                                <button
                                                    class="text-gray-500 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class=" flex items-center justify-between mt-6">
                <a href="#"
                    class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>

                    <span>
                        previous
                    </span>
                </a>

                <div class="items-center hidden md:flex gap-x-3">
                    <a href="#" class="px-2 py-1 text-sm text-blue-500 rounded-md dark:bg-gray-800 bg-blue-100/60">1</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">2</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">3</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">...</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">12</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">13</a>
                    <a href="#"
                        class="px-2 py-1 text-sm text-gray-500 rounded-md dark:hover:bg-gray-800 dark:text-gray-300 hover:bg-gray-100">14</a>
                </div>

                <a href="#"
                    class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                    <span>
                        Next
                    </span>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                    </svg>
                </a>
            </div>
        </div>

    </section>

</div>