<div class="flex h-screen">
    <!-- Sidebar -->
    <app-admin-sidebar></app-admin-sidebar>

    <section class="flex-1 h-screen overflow-y-auto bg-slate-900">
        <div class="container px-6 py-10 mx-auto">
            <h1 class="flex space-x-4 text-2xl font-semibold capitalize lg:text-3xl text-white cursor-default">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
                <span>Offer Management</span>
            </h1>
        </div>


        <div class="container px-6 py-10 mx-auto">

            <div class="flex justify-end items-center mt-4 gap-x-3">
                <!-- Select Dropdown for Filtering Users by Status -->
                <select [(ngModel)]="selectedStatus" (change)="filterOffer()"
                    class="px-4 py-2 text-sm border rounded-lg dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
                    <option value="all">All Statuses</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>

                <!-- Search Input -->
                <div class="relative flex items-center">
                    <span class="absolute left-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5 text-gray-400 dark:text-gray-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </span>
                    <input type="text" [(ngModel)]="searchTerm" (input)="filterOffer()" placeholder="Search offers"
                        class="block w-full md:w-80 py-1.5 pr-5 pl-10 text-gray-700 border border-gray-200 rounded-lg placeholder-gray-400/70 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                </div>

                <div class="relative flex items-center">
                    <button (click)="toggelForm()"
                        class="mt-4 sm:mt-10 mb-4 sm:mb-8 px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                        {{ isVisibleForm ? 'Close' : 'Add Offer' }}
                    </button>
                </div>
            </div>

            <ng-container *ngIf="isVisibleForm">
                <form class="mt-4 w-full max-w-3xl mx-auto" (ngSubmit)="onSubmit()" [formGroup]="offerForm">
                    <div class="flex flex-wrap w-full">
                        <div class="w-full md:w-1/2 px-4">
                            <!-- Name -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Name</label>
                                <input formControlName="title" type="text" name="title" placeholder="Enter offer name"
                                    class="block w-full px-4 py-3 mt-1 text-sm text-gray-700 border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300">
                                <p *ngIf="offerForm.get('title')?.hasError('required') && offerForm.get('title')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                            <!-- Phone Number -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Discount</label>
                                <input formControlName="discount" type="text" placeholder="Discount of offer"
                                    class="block w-full px-4 py-3 mt-1 text-sm text-gray-700 border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300">
                                <p *ngIf="offerForm.get('discount')?.hasError('required') && offerForm.get('discount')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                        </div>

                        <div class="w-full md:w-1/2 px-4">
                            <!-- Qualification -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Description</label>
                                <input formControlName="description" type="text" placeholder="Enter description"
                                    class="block w-full px-4 py-3 mt-1 text-sm text-gray-700 border border-gray-200 rounded-md focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300">
                                <p *ngIf="offerForm.get('description')?.hasError('required') && offerForm.get('description')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                            <!-- Last Working Place -->
                            <div class="mt-3">
                                <label class="text-sm text-gray-200">Status</label>
                                <select formControlName="status"
                                    class="w-full px-3 py-2 bg-gray-900 text-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    <option value="">Select Status</option>
                                    <option value="active">Active</option>
                                    <option value="inactive">InActive</option>
                                </select>
                                <p *ngIf="offerForm.get('status')?.hasError('required') && offerForm.get('status')?.touched"
                                    class="mt-1 text-red-500 text-xs">This field is required</p>
                            </div>

                        </div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="mt-6 flex justify-end gap-4 mx-4">
                        <button type="submit" [disabled]="!offerForm.valid"
                            class="px-6 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-md hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 disabled:opacity-50 disabled:cursor-not-allowed">
                            Submit
                        </button>
                    </div>
                </form>
            </ng-container>

            <div class="flex flex-col mt-6">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div class="overflow-hidden border border-gray-700 md:rounded-lg">

                            <app-table [data]="filteredOffers" [columns]="tableColumns" [currentPage]="currentPage"
                                [totalPages]="totalPages" [limit]="limit" (pageChange)="onPageChange($event)"
                                (actionClicked)="onActionClicked($event)">
                            </app-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>